@font-face {
  font-family: "Bold";
  src: url('/fonts/PPObjectSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url('/fonts/PPObjectSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-out forwards;
}

.slide-out-left {
  animation: slide-out-left 0.5s ease-in forwards;
}

body {
  background-color: #E0E0E0;
}

p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Regular";
  letter-spacing: -0.04em;
}

h1 {
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.05em;
}

button {
  font-family: "Regular";
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;
  }

  .container {
    padding-left: 28px;
    padding-right: 28px;
  }

  .p {
    font-size: 16px;     
    line-height: 22px !important;  
    font-family: "Regular";   
    letter-spacing: -0.05em; 
    margin-bottom: 2px; 
  }
}
